* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: large;
  color: #ddd;
  background-color: #333;
}

#editable-area {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Helvetica", sans-serif;
  font-size: large;
  color: #ddd;
  background-color: #333;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 170px;
  background-color: #222;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#main-content {
  flex-grow: 1;
  overflow: hidden;
}

#editable-area {
  width: 100%;
  height: 100%;
  background-color: #444;
  border: none;
  padding: 30px;
  color: #ddd;
  resize: none; /* Prevent resizing */
  outline: none; /* Remove the focus outline */
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 60px; /* Adds space between form elements */
  margin-bottom: auto;
}

#selected-text {
  background-color: #555; /* Slightly lighter than the sidebar for contrast */
  color: #ddd;
  border: 1px solid #777;
  width: 100%; /* Full width */
  margin-right: 10px; /* Adjust this value as needed to create space on the right */
  margin-bottom: 50px;
  padding: 10px; /* Or adjust padding as needed */
  font-size: small;
}

/* Add some margin to the right of the selected-text input to prevent cutting into the sidebar */
#selected-text {
  padding-right: 10px; /* Adjust as needed */
}

/* Add some padding to the labels */
label {
  padding-left: 5px; /* Add padding to the left of the label */
  margin-right: 10px;
  user-select: none; /* Prevent text selection */
}

/* Add styles for .checkbox-container */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#decrypt-button {
  background-color: #444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Add space above the button */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#decrypt-button:hover {
  background-color: #555;
}
